/* css code goes here */
:root {
    --theme-color: aliceblue;
    --theme-secondary: rgb(12, 130, 233);
    --theme-text-color: aliceblue;
    --border-color: grey;
    --boder-width: 2px;
}
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    margin-top: 0;
    height: 90vh;
    background-color:darkgray;
}

.header {
    height: 45vh;
    background-image: url("../static/concert-background-dd0syeox7rmi78l0.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--theme-text-color);
}


nav {
    width: 80vw;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul li {
    display: inline-block;
}

.img img {
    height: 200px;
    width: auto;
}



/* ARTIST STYLING */

.artist-body {
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.artist-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.artists-card {
    display: inline-block;
    min-height: 20vh;
    min-width: 20vw;
    border: var(--border-color) solid var(--boder-width);
    text-align: center;
    
}


/*  ERROR PAGE STYLING */
.error-body {
    text-align: center;
    background-color: #3106f3 2px solid;
    width: 300px;
    height: auto;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.error-body div {
    margin: 20px auto;
}

#back-button {
    margin: 5px;
    padding: 2px 5px;
    min-width: 80px;
    background-color: aquamarine;
    border: #13010100 2px solid;
    border-radius: 5px;
}
 .error-card { 
    /* display: inline-block;
    width: 30vw;
    height: 30vh;
    margin: 20px auto; */
    padding: 5px;
    border: var(--border-color) solid var(--boder-width);
    border-radius: 5px;

}

/*  FOOTER STYLING  */

.footer {
    text-align: center;
    color:var(--theme-text-color);
    height: 5vh;
    background-color: darkolivegreen;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}