/* css code goes here */
* {
    margin: 0;
    box-sizing: border-box;
}

.header {
    height: 45vh;
    background-image: url("../static/concert-background-dd0syeox7rmi78l0.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
}


nav {
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul li {
    display: inline-block;
}

.img img {
    height: 200px;
    width: auto;
}



/* ARTIST STYLING */

.artist-body {
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.artist-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.artists-card {
    display: inline-block;
    min-height: 20vh;
    min-width: 20vw;
    border: #3106f3 solid 1px;
    text-align: center;
    
}


/*  ERROR PAGE STYLING */
.error-body {
    width: 100;
    height: auto;
}
.error-card {
    display: inline-block;
    width: 30vw;
    height: 30vh;
    margin: 20px auto;
    padding: 5px;
    border: #01fa3f solid 2px;
    border-radius: 5px;

}

/*  FOOTER STYLING  */

.footer {
    text-align: center;
    color:aliceblue;
    height: 5vh;
    background-color: darkolivegreen;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}