<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/artist.css">
    <title>Artist-name</title>
</head>
<body>
    <div class="header">
        <header>
            <nav>
                <h1>Groupie Tracker</h1> 
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>contact Us</li>
                </ul>
            </nav>
        </header> 
    </div>
    <h2>Artists-name</h2>
    <div class="main-div">
        <img src="../static/willypaul-nadia.jpg" alt="image">
        <h4>Group members</h4>
        <ol>
            <li>Member 1</li>
            <li>Member 2</li>
        </ol>
        <div class="card-buttons">
            <button>Dates</button>
            <button>Locations</button>
        </div>
    </div>

    <div class="show-dates">
        <h4>Dates</h4>
        <ul>
            <li>date1</li>
            <li>date2...</li>
        </ul>
    </div>
    <div class="show-location">
        <h4>Locations</h4>
        <ul>
            <li>Location1</li>
            <li>Location2...</li>
        </ul>
    </div>


    <button class="back">Back</button>


    <footer class="footer">
        <p>&copy;2024 Baraq</p>
    </footer>
       
</body>
</html>