<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/artist.css">
    <title>{{ .Name }}</title>
</head>
<body>
    <div class="header">
        <header>
            <nav>
                <h1>Groupie Tracker</h1> 
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>contact Us</li>
                </ul>
            </nav>
        </header> 
    </div>
    <h2>{{ .Name }}</h2>
    <div class="main-div">
        <img src="{{ .ImageLink }}" alt="{{ .Name }}">
        <div>
            <h4>First-Album</h4>
            <p>{{ .FirstAlbum }}</p>
        </div>
        <div>
            <h4>Creation Date:</h4>
            <p>{{ .CreationDate }}</p>
        </div>
        <div>
            <h4>Members</h4>
            <ol>
                {{ range .Members}}
                <li>{{ . }}</li>
                {{ end }}
            </ol>
        </div>
        <div class="card-buttons">
            <button>Dates</button>
            <button>Locations</button>
        </div>
    </div>

    <!-- <div class="show-dates">
        <h4>{{ .Dates }}</h4>
        <ul>
            {{ range .Dates}}
            <li>{{ . }}</li>
            {{ end }}
        </ul>
    </div>
    <div class="show-locations">
        <h4>{{ .Locations }}</h4>
        <ul>
            {{ range .Locations }}
            <li>{{ . }}</li>
            {{ end }}
        </ul>
    </div> -->


    <button class="back">Back</button>


    
       
</body>
{{template "footerhtml"}}
</html>