<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/artist-page.css">
    <title>{{ .Artist.Name }}</title>
</head>

<body>
    <div class="header">
        {{ template "HeaderTemplate" }}
    </div>
    <div class="container">
        <div class="main-div">
            <div>
                <h2>{{ .Artist.Name }}</h2>
                <img src="{{ .Artist.ImageLink }}" alt="{{ .Artist.Name }}">
                <br>
                <h4>First-Album</h4>
                <p>{{ .Artist.FirstAlbum }}</p>
                <br>
                <h4>Creation Date:</h4>
                <p>{{ .Artist.CreationDate }}</p>
            </div>            
            <div>
                <h4>Members</h4>
                <ol>
                    {{ range .Artist.Members}}
                    <li>{{ . }}</li>
                    {{ end }}
                </ol>
            </div>
            <div class="dates-card">
                <h4>Dates</h4>
                <ul>
                    {{ range .DatesInfo }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
            </div>
            <div class="locations-card">
                <h4>Locations</h4>
                <ul>
                    {{ range .LocationsInfo }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
            </div>
        </div>

        <button class="back" id="back-button">Back</button>
    </div>

    <script type="module" src="../static/app.js"></script>

    {{template "footerhtml"}}
</body>
</html>