<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Error {{ .Status }}</title>
</head>
<body>
    <div class="header">
        {{ template "HeaderTemplate" }}
    </div>
   <div class="error-body">
    <div class="error-card">
        <h1>Error</h1>
        <h1>{{ .Status }}</h1>
        <p> {{ .Message }}</p>
    </div>
    <div>
        <button class="btn" id="back-button">Back</button>
    </div>
   </div>


    <script type="module" src="../static/app.js"></script>
   {{ template "footerhtml" }}
</body>
</html>