<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Groupie Tracker</title>
</head>
<body>
    <div class="header">
        <header>
            <nav>
                <h1>Groupie Tracker</h1> 
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>contact Us</li>
                </ul>
            </nav>
        </header> 
    </div>
   <div class="error-body">
    <did class="error-card">
        <h2>Error</h2>
        <h1>Code</h1>
        <p>Error message</p>
    </did>
   </div>
       
</body>
{{ template "footerhtml" }}
</html>