<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title></title>
</head>
<body>
    <div class="header">
        {{ template "HeaderTemplate" }}
    </div>
   <div class="error-body">
    <did class="error-card">
        <h2>Error</h2>
        <h1>Code</h1>
        <p>Error message</p>
    </did>
   </div>
   <div>
    <button class="back" id="back-button">Back</button>
   </div>
       
</body>
{{ template "footerhtml" }}
</html>