<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Groupie Tracker</title>
</head>
<body>
    <div class="header">
        {{ template "HeaderTemplate" }}
    </div>
    <div class="container">
        <h2>Artists</h2>
    </div>
    <div class="artists-body artist-list" >
    {{ range . }}
        <div class="artist-item">
            <a href="/artist?id={{ .Id }}">
                <div class="artists-card">
                    <h3>{{ .Name }}</h3>
                    <div class="img">
                        <img src="{{ .ImageLink }}" alt="Artist {{ .Id }}">
                    </div>       
                </div>
            </a>
        </div>
        
    {{ end }}
    </div>
   
   
    <script type="module" src="../static/app.js"></script>
    {{template "footerhtml" }}
</body>
</html>