<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Groupie Tracker</title>
</head>
<body>
    <div class="header">
        <header>
            <nav>
                <h1>Groupie Tracker</h1> 
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>contact Us</li>
                </ul>
            </nav>
        </header> 
    </div>
    <h2>Artists</h2>
    <div class="artists-body artist-list" >
    {{ range . }}
        <div id="artist-item">
            <a href="/artist?id={{ .Id }}">
                <div class="artists-card">
                    <h3>{{ .Name }}</h3>
                    <div class="img">
                        <p>Artist Id: {{ .Id }}</p>
                        <img src="{{ .ImageLink }}" alt="Artist {{ .Id }}">
                    </div>       
                </div>
            </a>
        </div>
    {{ end }}
    </div>
   
       
</body>
{{template "footerhtml"}}
</html>