<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Groupie Tracker</title>
</head>
<body>
    <div class="header">
        <header>
            <nav>
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>contact Us</li>
                </ul>
            </nav>
            <h1>Groupie Tracker</h1> 
        </header> 
    </div>
    <div class="artists-card">
        <h3>artist-name</h3>
        <div class="img">
            <img src="../static/willypaul-nadia.jpg" alt="Artist1">
        </div>
        <div class="card-buttons">
            <button>Dates</button>
            <button>Locations</button>
        </div>
    </div>
    <div class="artists-card">
        <h3>artist-name</h3>
        <div class="img">
            <img src="../static/willypaul-nadia.jpg" alt="Artist1">
        </div>
        <div class="card-buttons">
            <button>Dates</button>
            <button>Locations</button>
        </div>
    </div>



    <footer class="footer">
        <p>&copy;2024 Baraq</p>
    </footer>
       
</body>
</html>