<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/static/about.css" />

    <title>About</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
			<li class="nav-links"><a href="/">Home</a></li>
			<li class="nav-links"><a href="about.html">About</a></li>
        </ul>
      </nav>
    </header>

    <div class="container">
      <!-- <h1>ASCII Art Web</h1> -->

      <main>
        <section class="overview">
          <h3>Project Overview</h3>
          <p>
            ASCII Art Web is a project that consists in creating a web server
            from which it is possible to use a web graphical user interface
          </p>
        </section>

        <section class="features">
          <h3>Project Features</h3>
          <ol>
            <li class="features-list">
              Accepts user's input from the textarea
            </li>

            <li class="features-list">
              Supports choosing from various banner files for output
            </li>

            <li class="features-list">
              Supports switching across various theme modes
            </li>

            <li class="features-list">Responsive web design</li>
          </ol>
        </section>

        <section class="usage-instructions">
          <h3>Usage Instructions</h3>
          <ol>
            <li class="instructions-list">
              Ensure you are in the project's home page. You can switch to the
              home page by clicking on the <b>Home</b> navigation link.
            </li>

            <li class="instructions-list">
              Enter the text you wish to display using ASCII characters in the
              textarea section
            </li>

            <li class="instructions-list">
              Select your preferred banner file from the select tag
            </li>

            <li class="features-list">
              Click on the submit button to generate the ASCII characters
            </li>
          </ol>
        </section>

        <section class="authors">
          <h3>Authors</h3>

          <p>
            The below mentioned developers were involved in the development of
            the project
          </p>
          <div class="contributors-container">
            <div class="contributor">
              <img src="/imgs/barrack.png" alt="Barrack Otieno" />
              <a href="https://github.com/Baraq23">Barrack Otieno</a>
            </div>

            <div class="contributor">
              <img src="/imgs/ouma.png" alt="Godwin Ouma" />
              <a href="https://github.com/garveyshah">Godwin Ouma</a>
            </div>

            <div class="contributor">
              <img src="/imgs/john.png" alt="John Odhiambo" />
              <a href="https://github.com/johneliud">John Odhiambo</a>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
